.title-mail-footer{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: baseline;
    
    padding-left: 93px;
    
    
    
    }
    